configuration {
	modi: "drun,run,filebrowser,window";
	case-sensitive: false;
	cycle: true;
	show-icons: true;
	icon-theme: "Papirus";
	matching: "normal";
	tokenize: true;
	display-drun: "Apps";
	display-run: "Run";
	display-window: "Windows";
	terminal: "wezterm";
	font: "JetBrainsMono Nerd Font 12";
	sort: false;
	click-to-exit: true;
	disable-history: false;
}

@theme "/nix/store/f6jj0h6nn40cv8hq7ksgikx04vayxjlw-rofi-2.0.0/share/rofi/themes/material.rasi"
